version: '3.8'

services:
  aat-web:
    build: 
      context: .
      dockerfile: web/Dockerfile
    ports:
      - "8501:8501"
    restart: always
    volumes:
      - .:/app

  # Později sem přidáme bridge k DB