name: Deploy AA Tool

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /root/master-project
            git config --global --add safe.directory /root/master-project
            git pull origin main
            
            # Nastavíme cestu, aby robot viděl docker
            export PATH=$PATH:/usr/bin
            
            # Spustíme docker compose (bez pomlčky)
            docker compose up -d --build