name: Deploy AA Tool - Finalni Oprava IP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          # Tady se ted konecne pripojime na spravny HOST
          ssh-keyscan -H ${{ secrets.HOST }} >> ~/.ssh/known_hosts
      
      - name: Deploy and Restart Docker
        run: |
          ssh -i ~/.ssh/id_ed25519 ${{ secrets.USERNAME }}@${{ secrets.HOST }} << 'EOF'
            cd /root/master-project
            git pull origin main
            # 1. Zastavíme a smažeme staré kontejnery i sítě
            docker compose down
            # 2. Spustíme novou verzi s buildem
            docker compose up -d --build
          EOF